html {
    font-family: Arial;
    display: inline-block;
    text-align: center;
}

p {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

h1 {
    font-size: 1.0rem;
    margin-top: 6px;
    margin-bottom: 2px;
    text-align: center;
}

h2 {
    font-size: 1.1rem;
    height: 15px;
    margin-top: 6px;
    margin-bottom: 8px;
}

h3 {
    font-size: 0.8rem;
    color: gray;
    height: 15px;
    margin-top: 5px;
    margin-bottom: 12px;
    text-align: center;
    margin-left: 20px;
    max-width: 320px;
}

h4 {
    font-size: 14px;
    margin: 8px;
    height: auto;
    text-align: center;
}

body {
    max-width: 360px;
    margin: 5px auto;
    padding-bottom: 5px;
}

/* --- BUTTONS --- */
.wifi_button {
    border: none;
    background-color: lightgreen;
    padding: 4px 22px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 160px;
    border: 1px solid black;
    cursor: pointer;
}

.ONLY_R {
    border: 1px solid black;
    background-color: lightblue;
    padding: 2px 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    width: 240px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.SEVE_B {
    border: 1px solid rgb(0, 0, 0);
    color: #FEFCFB;
    background-color: #d10808;
    padding: 2px 5px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    width: 240px;
    height: 30px;
    margin-right: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.SetupButton {
    width: 30%;
    height: 48px;
    border-radius: 2px;
    border: 1px solid black;
    cursor: pointer;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 2px 2px;
    text-decoration: underline;
    margin-left: 2px;
    margin-right: 2px;
}

.SetupButton:active {
    position: relative;
    top: 5px;
}

.myButton {
    background-color: lightgreen;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 2px;
}
.myB_start{
    width: 60%;
}
.myButton:hover {
    background: linear-gradient(to bottom, #ffab23 55, #ffec64 100);
    background-color: #ffab23;
}

.myButton:active {
    position: relative;
    top: 5px;
}

.myB_proc{
    font-family:Arial;
    border: 1px solid black;
    font-weight:bold;  
    font-size:14px;
    cursor:pointer;  
    padding-top:4px;
    padding-bottom: 6px; 
    width:168px; 
    background:red;
    color:white;
    margin-top:2px;} 

.button_P {
    border: none;
    color: black;
    display:inline-block;
    padding: 4px 0px;
    margin-top: 2px;
    border: 10px;
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    vertical-align:top;
    cursor: pointer;
    width: 170px;
    height:60px;
    }
      
  .button_P:hover {
    background:linear-gradient(to bottom, orange 0%, orange 100%);
    background-color:orange;}   
  .button_P:active {
    position:relative;
    top:5px;} 

/* --- INPUT --- */
input[type="checkbox"] {
    margin-left: 4px;
    margin-right: 4px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

input[type=text] {
    width: 240px;
    background-color: lightgeen;
    border: 1px solid green;
    font-size: 1.0rem;
    font-weight: bold;    
    border-radius: 2px;
    padding: 4px 12px;
    margin: 2px;
    display: inline-block;
}

input[type=password] {
    width: 240px;
    background-color: lightgeen;
    border: 1px solid green;
    font-size: 1.0rem;
    font-weight: bold;    
    border-radius: 2px;
    padding: 4px 12px;
    margin: 2px;
    display: inline-block;
}

select[type=number] {
    width: 180px;
    background-color: lightgeen;
    border: 1px solid green;
    padding: 2px 2px;
    margin: 8px;
    display: inline-block;
    font-size: 1.0rem;
    font-weight: bold;
    border-radius: 2px;
}

select[type=text] {
    width: 260px;
    background-color: lightgeen;
    border: 1px solid green;
    padding: 4px 6px;
    margin: 2px;
    display: inline-block;
    font-size: 1.0rem;
    font-weight: bold;
    border-radius: 2px;
}

/* --- label ---------------------------*/

textarea {
    font-size: 16px; 
    /* font-family: MS MinChe, monospace; */
    /* font-family: DotunChe, monospace; */
    font-family: Consolas, monospace;
    font-weight:bold;
    }

.label_2 {
    font-size:16px;
    font-weight: bold;
    display: inline;
    vertical-align: 80px;
    } 

.square_info {
    height: 31px;
    width: 50px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    vertical-align: middle;
}

.label_i_sor {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-left: 40px;
}

.label_min_max_cim {
    font-family:Arial;
    font-weight:bold;  
    font-size:14px;
    margin-top:10px;
    display: block;
    margin-bottom:8px;
    }

.label_T_D {
  width: 100%;
  height: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #01035a;
  color: white;
  text-align: left;
  font-weight: bold;
  font-size: 22px;
  display: inline-block;
}

.select_text_EE {
    border: 2px solid green;
    width: 60px;
    height: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2px;
}

.label_mdns {
    font-size: 12px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.label_mdns_cim {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.info_sor_1 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.info_sor_2 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.info_sor_3 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.label_text {
    font-size: 1.0rem;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.label_info {
    font-size: 13px;
    display:inline-block;
    font-weight: bold;
    padding-bottom: 6px;
}

.label_1 {
    font-size: 14px;
    display:inline-block;
    font-weight: bold;
}

/* --- hyp, first, .second -----------*/

.hyp {
    line-height: 13px;
    margin-top: 6px;
    margin-bottom: 2px;
    font-weight: bold;
    position: relative;
}

.first,
.second {
    position: absolute;
    top: 0;
}

.first {
    font-weight: bold;
    right: 18%;
    padding-right: 34%;
}

.second {
    font-weight: bold;
    left: 18%;
    padding-left: 33%;
}

/* ------------------------- */
.hyp_w_alap {
    line-height: 13px;
    margin-top: 6px;
    margin-bottom: 2px;
    position: relative;
}

.first_w_alap,
.second_w_alap {
    position: absolute;
    top: 0;
}

.first_w_alap {
    font-weight: bold;
    font-size: 14px;
    right: 28%;
    padding-right: 34%;
}

.second_w_alap {
    font-weight: bold;
    font-size: 16px;
    left: 8%;
    padding-left: 33%;
}

/* ------------------------- */
.hyp_w_scan {
    line-height: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

.first_w_scan,
.second_w_scan {
    position: absolute;
    top: 0;
}

.first_w_scan {
    font-weight: bold;
    right: 25%;
    padding-right: 34%;
}

.second_w_scan {
    font-weight: bold;
    left: 10%;
    padding-left: 33%;
}